body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --focus-color: #ddd;
}

html, body {
  line-height: 1.5;
  font-size: 62.5%; /* helps us to use a rem value that will be a factor of 10px e.g 2rem is 20px*/
}

*, :after, :before {
  box-sizing: border-box;  
}
